<a href="https://colab.research.google.com/github/Ashi743/ML-practices/blob/main/RANDOM_CODES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
vals= ["i", 'am', "a", "hero"]
for idx,val in enumerate(vals, start=5):
  print(idx,val)

5 i
6 am
7 a
8 hero

In [5]:
amount= 100
20 if amount>50 else 10

20

In [11]:
print([i **2 for i in range(1,4)])

squares= {}
for i in range(1,4):
  squares[i]= i**2
print( "giving dictionary",squares)

{i: i **2 for i  in range(1,4)}

[1, 4, 9]
giving dictionary {1: 1, 2: 4, 3: 9}

{1: 1, 2: 4, 3: 9}

In [13]:
from itertools import product
colors= ["Red", "Green", "Blue"]
size= ["2","3"]
for i,j in product(colors, size):
  print(j,i)

2 Red
3 Red
2 Green
3 Green
2 Blue
3 Blue

In [16]:
vals= [1,2,3,4]
for i in range(len(vals)-1):
  print((vals[i-1], vals[i], vals[i+1]))

from itertools import pairwise
for pair in pairwise(vals):
  print(pair)

(4, 1, 2)
(1, 2, 3)
(2, 3, 4)
(1, 2)
(2, 3)
(3, 4)